.item {
    width: calc((100% - 40px) / 3);
    min-height: 420px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item-btn {
    transition: all 0.2s ease;
    border: 1px solid #228BE6;
}
.item-btn:hover {
    background: #228BE6;
    color: #fff;
}
.item__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagin__bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #228BE6;
    transition: all 0.2s ease;
}
.pagin__bullet:hover, .pagin__bullet._active {
    background: #228BE6;
    color: #fff;
}
.pagin__bullet:active {transform: scale(.9);}
.pagin__arrow {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #228BE6;
}
.pagin__arrow:active {
    transform: scale(0.9);
}
.pagin__arrow img {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagin__arrow.reverse > img{
    transform: translate(-50%, -50%) rotate(180deg);
}