@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  colors
  #258CE6
*/
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1 1 auto;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #f7f2f2;
}
.ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.def__link {
  font-size: 20px;
  transition: all 0.2s ease;
  color: deepskyblue;
}
.def__link:hover {
  color: gray;
}
.def-btn {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  background: #258ce6;
  border: 1px solid #258ce6;
  color: #fff;
  transition: all 0.2s ease;
}
.search-mark {
  background: #258ce6;
}
.def-btn:hover {
  background: #fff;
  color: #258ce6;
}
.def-btn:active {
  transform: scale(0.9);
}
.btn-def-active {
  transition: 0.2s;
}
.btn-def-active:active {
  transform: scale(0.9);
}
.def-light-txt {
  color: #258ce6;
}
.bullet-btn {
  cursor: pointer;
  background: #258ce6;
  padding: 4px 14px;
  font-size: 20px;
  color: #fff;
  transition: all 0.2s ease;
  border: 1px solid #258ce6;
}
.bullet-btn:hover {
  background: #fff;
  color: #258ce6;
}
.bullet-btn:active {
  transform: scale(0.9);
}
.def-block-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.def-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.def-cart-cont {
  border: 2px solid #ccc;
  border-top: none !important;
}
.test {
  background: blue;
}
.def-textarea {
  border: 2px solid #ccc;
  padding: 8px;
  background: rgb(246, 246, 246);
}
.def-textarea:focus {
  border-color: #258ce6;
  outline: none;
}
.def-checkbox._checked .def-checkbox-img {
  opacity: 1;
}
.def-checkbox._checked .def-checkbox-txt {
  color: #339af0;
}
.def-checkbox._checked .def-checkbox-ic {
  border-color: #339af0;
}
.def-checkbox-ic {
  position: relative;
  width: 24px;
  height: 24px;
  border: 3px solid #5c5c5c;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.def-checkbox-img {
  transition: inherit;
  opacity: 0;
}
.def-checkbox-txt {
  color: #5c5c5c;
  font-weight: 500;
  transition: inherit;
}
.def-checkbox:hover .def-checkbox-img {
  opacity: 1;
}
.def-checkbox:hover .def-checkbox-txt {
  color: #339af0;
}
.def-checkbox:hover .def-checkbox-ic {
  border-color: #339af0;
}
.heart {
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: relative;
  transform: rotate(45deg);
}

.heart::before,
.heart::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-color: inherit;
  border-radius: 50%;
}

.heart::before {
  left: -25px;
}

.heart::after {
  top: -25px;
}